<div class="navigation flex justify-between items-center pt-4">
    <p class="items-center font-bold justify-center text-4xl mx-8 w-fit">INTERACTIVE WORLD MAP</p>
    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold mx-8 py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" (click)="onLogout()">Logout</button>
</div>
<div class="flex justify-between">
    <div class="map-container">
        <div id="map"></div>
    </div>
    <div class="map-info bg-white">
        <form class="flex items-center">   
            <div class="relative w-full">
                <input #countryInput type="text" id="simple-search" class="border text-sm rounded-lg w-full p-2.5" placeholder="Search for a country" required>
            </div>
            <button type="submit" (click)="pickCountry(countryInput.value)" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 bg-blue-600 bg-blue-700 ring-blue-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </button>
        </form>
        <div class="h-4"><div *ngIf="errorCountrySearch" class="text-red-500 text-sm">Country not found</div></div>
        <p class="font-bold text-2xl pt-6">{{ countryName }}</p>
    </div>
</div>


